.card{
    width: 50%;
    color:white;
    
}

.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
}

.grid-items{
    border: 5px solid silver;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: large;
background-color: rgb(80, 80, 80);
}

.grid-items .title{
    color: rgb(3, 202, 3);
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.grid-items .content{
    color: rgb(3, 202, 3);
}

/* for-phone-only */
@media (max-width: 599px) {
.grid-items {
    position:relative;
    left:89%;
}
.grid-items.card1{
    position: relative;
    top:5px;
    width:160%;
    height:60%;
    padding-top: 4px;
    left:40%;
}

}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .grid-items {
            position: relative;
            left: 160%;
        }
    
        .grid-items.card1 {
            position: relative;
            top: 5px;
            width: 160%;
            height: 60%;
            padding-top: 4px;
            left: 170%;
        }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .grid-container {
        column-gap: 55px;
    }
    .grid-items {
            position: relative;
            left: 170%;
            width: 70%;
        }
    
        .grid-items.card1 {
            position: relative;
            top: 5px;
            width: 90%;
            height: 50%;
            padding-top: 4px;
            left: 255%;
        }
}


/* for-desktop-up */
@media (min-width: 1200px) {
    .grid-container {
            column-gap: 150px;
        }
    
        .grid-items {
            position: relative;
            left: 110%;
            width: 140%;
            height:100%;
            top:-160px;
            font-size:x-large;
        }
    
        .grid-items.card1 {
            position: relative;
            top: -160px;
            width: 140%;
            height: 105%;
            padding-top: 4px;
            left: 110%;
            font-size:x-large;
        }

        .grid-items .content{
            margin-top: 5%;
            margin-bottom: -10%;
        }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {}