.card{
    width: 50%;
    color:white;
}

.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
}

.grid-items{
    border: 5px solid #62a4ab;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: large;
background-color: transparent;
}

.grid-items .title{
    position:relative;
    color: #f0e14a;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    
}

.grid-items .content{
    color: white;
    margin-bottom: 5%;
}

.grid-items .code{
    color: rgb(3, 255, 0);
    font-size:xx-small;
}


/* for-phone-only */
@media (min-width:320px) {
.grid-container {
    display: block;
    position: relative;
    width:150%;
    left:25%;
    top:20px;
}


    }


@media (min-width: 480px) {
.grid-container {
        display: block;
        position: relative;
        width: 150%;
        left: 25%;
        top: 20px;
    }

}


/* for-tablet-portrait-up */
@media (min-width: 600px) {

.grid-container {
        display: block;
        position: relative;
        width: 100%;
        left: 53%;
        top: 20px;
    }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
.grid-container {
        display: block;
        position: relative;
        width: 100%;
        left: 50%;
        top: 20px;
    }
.grid-items{
    font-size:x-large;
}
}


/* for-desktop-up */
@media (min-width: 1200px) {
    .grid-container {
        display: grid;
            column-gap: 150px;
            grid-template-columns: 35% 35% 35%;
           position: relative;
           left:22%;
        }
    
        .grid-items {
            position: relative;
            left: -30%;
            width: 140%;
            height:90%;
            top:-115px;
            font-size:x-large;
        }
    
        .grid-items.card1 {
            position: relative;
            top: -115px;
            width: 140%;
            height: 93%;
            padding-top: 4px;
            left: -30%;
            font-size:x-large;
        }

        .grid-items .content{
            margin-top: 15%;
            margin-bottom: -10%;
            font-size: xx-large;
            font-weight: 700;
        }

     .card{
        margin-bottom: 32%;
     }
         .grid-items .title{
            top:19%;
            font-size: xx-large;
                font-weight: 700;
         }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {
.grid-container {
        column-gap: 160px;
        grid-template-columns: 35% 35% 35%;
position: relative;
    left: 0%;
    }

        .grid-items {
            position: relative;
            left: 48%;
            width: 140%;
            height: 90%;
            top: -115px;
            font-size: x-large;
        }

         .grid-items.card1 {
             position: relative;
             top: -115px;
             width: 140%;
             height: 93%;
             padding-top: 4px;
             left: 48%;
             font-size: x-large;
         }

    .card {
        margin-top: -1%;
            margin-bottom: 37%;
        }
}