.info-container{
    position: absolute;
    top: 100px;
    color: white;
    font-weight:bolder;
      
}
.labels {
    color: yellow;
    font-weight: 1000;
    font-size: large;
   
}

.info {
    font-size: medium;
    margin-bottom: 10%;
}
/* for-phone-only */
@media (max-width: 599px) {
    .info-container{
        top:350px;
        text-align: center;
       display:grid;
       grid-template-columns: auto auto ;
       column-gap: 10px;
       margin-left: 3%;
    
    }

}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .info-container {
            top: 350px;
            text-align: center;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
            margin-left: 3%;
    
        }
                .labels {
                    color: yellow;
                    font-weight: 1000;
                    font-size: larger;
        
                }
        
                .info {
                    font-size: large;
                    margin-bottom: 10%;
                }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {}


/* for-desktop-up */
@media (min-width: 1200px) {}


/* for-medium-desktop-up */
@media (min-width: 1400px) {}