
/* for-phone-only */
@media (max-width: 599px) {

    .Overview {
        position: relative;
        top: -25px;
        border: 1px solid white;
        margin-top: 3%;
    }

}


/* for-tablet-portrait-up */
@media (min-width: 600px) {}


/* for-tablet-landscape-up */
@media (min-width: 900px) {}


/* for-desktop-up */
@media (min-width: 1200px) {}


/* for-medium-desktop-up */
@media (min-width: 1400px) {}