
/* for-phone-only */

@media (min-width:320px) {
    .image {
            height: 300px;
            width: 80%;
            border-radius: 100%;
            margin-top: 4%;
            margin-bottom: 4%;
            margin-left: 9%;
        }
}

@media (min-width: 480px) {
.image {
        height: 400px;
        width: 90%;
        border-radius: 100%;
        margin-top: 4%;
        margin-bottom: 4%;
       margin-left: 6%;
    }
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .image {
            height: 450px;
            width: 80%;
            border-radius: 100%;
            margin-top: 4%;
            margin-bottom: 4%;
            margin-left:10%;
        }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .image {
        position:relative;
            height: 450px;
            width: 50%;
            border-radius: 100%;
            margin-top: 4%;
            margin-bottom: 4%;
            left:16%;
        }
}


/* for-desktop-up */
@media (min-width: 1200px) {
    .image {
            position: relative;
            height: 500px;
            width: 35%;
            border-radius: 100%;
            margin-top: 4%;
            margin-bottom: 4%;
            margin-left:12%;
            left: -19%;
            top:155px;
        }
    .popUp {
        position:relative;
        left:20%;
        top:-130px;
    }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {
    .image{
        margin-left: 15%;
        height: 550px;
            width: 37%;
    }

        .popUp {
            top: -170px;
            left:25%;
        }
}