.Overview {
    color: white;
    float: right;
    display: block;
    position: relative;
    top:-350px;
}

.border{
    border-bottom: 1px solid white;
        margin-top: 3%;
        margin-left: 2%;
}
.OverView-Button{
    background-color:#62a4ab;
   padding-top: 1%;
padding-bottom: 3%;
}

.planet-name{
    color:yellow;
}

.planet-name{
    margin-bottom: 8%;
}




/* for-phone-only */
@media (max-width: 599px) {

.Overview {
    top: -25px;
    width: 100%;
}

.planet-name{
    text-align:center;
}

.description {
    text-align:center;
    position: relative;
    left:25%;
    width: 50%;
}

.summary{
    text-align:left;
    position: relative;
        left: 26.5%;
    width: 50%;
}
.OverView-Button{
    position: relative;
    left: 27%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 30px;
}

.carousel {
    position: relative;
    left: 23%;
    width: 77%;
}
.carousel .button-back{
width: 20%;
height: 30px;
border-radius: 30%;
position: relative;
    left: 5%;
}
.carousel .button-next{
    width: 20%;
    height: 30px;
    border-radius: 30%;
    position:relative;
    left:25%;
}
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .Overview {
            top: -25px;
            width: 100%;
        }
    
        .planet-name {
            text-align: center;
        }
    
        .description {
            text-align: center;
            position: relative;
            left: 25%;
            width: 50%;
        }
    
        .summary {
            text-align: left;
            position: relative;
            left: 26.5%;
            width: 50%;
        }
    
        .OverView-Button {
            position: relative;
            left: 28%;
            margin-right: 2%;
            margin-top: 3%;
            margin-bottom: 3%;
            height: 30px;
        }
    
        .carousel {
            position: relative;
            left: 32%;
            width: 47%;
        }
    
        .carousel .button-back {
            width: 20%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: 5%;
        }
    
        .carousel .button-next {
            width: 20%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: 25%;
        }
           
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .Overview {
            top: -25px;
            width: 100%;
        }
    
        .planet-name {
            text-align: center;
        }
    
        .description {
            text-align: center;
            position: relative;
            left: 25%;
            width: 50%;
        }
    
        .summary {
            text-align: left;
            position: relative;
            left: 26.5%;
            width: 50%;
        }
    
        .OverView-Button {
            position: relative;
            left: 33%;
            margin-right: 2%;
            margin-top: 3%;
            margin-bottom: 3%;
            height: 30px;
            width:10%;
        }
    
        .carousel {
            position: relative;
            left: 36%;
            width: 40%;
        }
    
        .carousel .button-back {
            width: 25%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: 3%;
        }
    
        .carousel .button-next {
            width: 25%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: 13%;
        }
}


/* for-desktop-up */
@media (min-width: 1200px) {
    .Overview {
            top: 0px;
            width: 100%;
            margin-top: -10%;
           
        }
    
        .planet-name {
            text-align: center;
        }
    
        .description {
            text-align: center;
            position: relative;
            left: 25%;
            width: 50%;
        }
    
        .summary {
            text-align: left;
            position: relative;
            left: 26.5%;
            width: 50%;
        }
    
        .OverView-Button {
            position: relative;
            left: 25%;
            margin-right: 2%;
            margin-top: 8%;
            margin-bottom: 1%;
            height: 30px;
            width: 15%;
        }
    
        .carousel {
            position: relative;
            left: 23.5%;
            width: 85%;
        }
    
        .carousel .button-back {
            width: 25%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: -1%;
            top:-30px;
        }
    
        .carousel .button-next {
            width: 25%;
            height: 30px;
            border-radius: 30%;
            position: relative;
            left: 11%;
            top: -30px;
        }
        .border{
            position:relative;
            top:-250px;
            left:50%;
            width: 47%;
            border-bottom: none;
            font-size: larger;
            
        }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {

.OverView-Button {
        position: relative;
        left: 25%;
        margin-right: 2%;
        margin-top: 3%;
        margin-bottom: -2%;
        height: 30px;
        width: 15%;
    }

.carousel {
        position: relative;
        left: 29.5%;
        width: 66%;
    }

    .carousel .button-back {
        width: 25%;
        height: 30px;
        border-radius: 30%;
        position: relative;
        left: 2%;
        top: -30px;
    }

    .carousel .button-next {
        width: 25%;
        height: 30px;
        border-radius: 30%;
        position: relative;
        left: 14%;
        top: -30px;
    }
}









