.Overview {
    color: white;
    float: right;
    display: block;
    position: relative;
    top:-350px;
}

.border{
    border-bottom: 1px solid white;
        margin-top: 3%;
}
.OverView-Button{
    background-color:#62a4ab;
}

.planet-name{
    color:yellow;
}


/* for-phone-only */
@media (max-width: 599px) {

.Overview {
    top: -25px;
}

.planet-name{
    text-align:center;
}

.description {
    text-align:center;
    position: relative;
    left:25%;
    width: 50%;
}

.summary{
    text-align:left;
    position: relative;
        left: 26.5%;
    width: 50%;
}
.OverView-Button{
    position: relative;
    left: 27%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 30px;
}

.carousel {
    position: relative;
    left: 23%;
  
}
.carousel .button-back{
width: 20%;
height: 30px;
border-radius: 30%;
}
.carousel .button-next{
    width: 20%;
    height: 30px;
    margin-left: 11%;
    border-radius: 30%;
}
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {}


/* for-tablet-landscape-up */
@media (min-width: 900px) {}


/* for-desktop-up */
@media (min-width: 1200px) {}


/* for-medium-desktop-up */
@media (min-width: 1400px) {}









