
.parralax{
    top:1607px;
    margin-top: 3%;
    
}

h2 {
    position: relative;
    text-align: center;
    top: 200px;
    font-size: 100px;
    color: #f0e14a;
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
    .parralax {
            top: 1550px;
            margin-top: 5%;
    
        }
}