.App {
position: absolute;
background-image: url("./IMG/space-background.png");
height:fit-content;

}

.portal {
    display:flex;
    align-items: center;
}

/* for-phone-only */

@media (min-width:320px) {
.App {
        width: 100%;
        height:fit-content;
    }

.portal {
    position: relative;
    width: 55%;
    height: 20%;
    left: 23%;
    top: 190px;
    padding-top: 42%;
    padding-bottom: 200%;
}
}
    
@media(min-width: 480px){
.App{
    width: 100%;
}

.portal{
    position: relative;
    width:50%;
    height:50%;
    left:23%;
    top:30px;
    padding-top: 42%;
    padding-bottom:80%;
}
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
.App {
        width: 100%;
    }

   .portal {
       position: relative;
       width: 50%;
       height: 50%;
       left: 23%;
       top: 100px;
       padding-top: 25%;
       padding-bottom: 100%;
   }

}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
.App {
        height: fit-content;
        width: 100%;
    }

   .portal {
       position: relative;
       width: 50%;
       height: 50%;
       left: 23%;
       top: -10px;
       padding-top: 20%;
       padding-bottom: 30%;
   }
   
}


/* for-desktop-up */
@media (min-width: 1200px) {
.App {
        height: fit-content;
        width: 100%;
    }

        .portal {
            position: relative;
            width: 30%;
            height: 30%;
            left: 33%;
            top: 150px;
            padding-top: 10%;
            padding-bottom: 100%;
        }

                .arrowfour {
                    position: absolute;
                        top: 1320px;
                        left: 48%;
                        width: 2.55%;
                        height: 35px;
                        border: solid #f0e14a;
                        border-width: 0 10px 10px 0;
                        display: inline-block;
                        padding: 3px;
                }
                
    
.arrow {
    position:relative;
    top:-305px;
    left:48%;
    width:2.55%;
   height: 30px;
    border: solid #f0e14a;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrowtwo{
position: relative;
    top: -265px;
    left: 44.2%;
    width: 2.55%;
    height: 30px;
    border: solid #f0e14a;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
}
.arrowthree{
    position: relative;
    top: -225px;
        left: 40.4%;
        width: 2.55%;
        height: 30px;
        border: solid #f0e14a;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 3px;
}


.text{
    position:relative;
    top: -410px;
        left: 0%;
        color: #f0e14a;
        font-size:550%; 
        font-weight: 900;  
}
 .text p{
    height: 100px;
    top:-100px
 }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {

.App{
    height: 250%;
}

.text {
    font-size: 525%;
    top:-490px;
        display: block;
        margin-right: 0%; 
             
       
    }

 .arrowfour {
     top: 1200px;
     display: block;
     margin-left: 0%;
     margin-right: auto;
     margin-top: 10%;
     height: 39px;
 }

    .arrow {
                top: 280px;
                display: block;
                margin-left: 0%;
                margin-right: auto;
                margin-top: 10%;
                height: 39px;
        }

        .arrowtwo {
        top: 150px;
            display: block;
            margin-left: 3.9%;
            margin-right: auto;
            margin-top: 10%;
            height: 39px;
        }

                .arrowthree {
                    top: 30px;
                        display: block;
                        margin-left: 7.7%;
                        margin-right: auto;
                        margin-top: 9%;
                        height: 39px;
                }
}


